.tabla-container{
    width: 80%;
    max-width: 1600px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 20px 10%;
}
table{
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #292929;
    border-radius: 1rem;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}